body {background-color: #CCCCCC;}
h1 {font-family: Garamond; font-size: 36px; color: #ff8C00; text-align: center;}
p {font-family: Garamond; font-size: 20px; text-align: center;}
img {image-allign: center;}